.content {
  background-color: snow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.content h1 {
  font-size: 50px;
  overflow: visible;
}

.content .aboutme {
  width: 55%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.content .aboutme p {
  font-size: 16px;
  text-align: justify;
}

.content .aboutme h3 {
  font-size: 26px;
  float: left;
  text-align: left;
}

.content .container .item .skills_wrapper {
  bottom: 40px;
  text-align: center;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .container .item .skills_wrapper .shield {
  color: azure;
  margin: 0 2px;
}

.content .container .item .thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: all 1s ease;
}

.content .container .item:hover {
  background-color: darkslateblue;
}

.content .container .item:hover .thumbnail {
  opacity: 0.14;
  z-index: 0;
}
