.content {
  background-color: snow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
  display: none;
}

.content h1 {
  font-size: 50px;
  overflow: visible;
}

.content .aboutme {
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow: visible;
}

.content .aboutme p {
  font-size: 16px;
  text-align: justify;
  overflow: visible;
}

.content .aboutme h3 {
  font-size: 26px;
  float: left;
  text-align: left;
  overflow: visible;
}
