.swiper-wrapper {
  overflow: visible;
}

.carousel {
  background-color: snow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel h1 {
  font-size: 50px;
}

.carousel .container {
  padding: 5% 0;
  width: 75%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.carousel .container::-webkit-scrollbar { 
  display: none;
}

.carousel .container .item {
  width: 90%;
  border-radius: 20px;
  border: 1px solid #2fc18c;
  margin: 1% 2%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #2fc18c;
  position: relative;
  transition: all 1s ease;
  overflow: hidden;
}

.carousel .container .item h3 {
  top: 1%;
  margin-bottom: 1%;
  text-align: center;
  position: absolute;
  font-size: 1.2
  vw;
}
.carousel .container .item a{
  text-decoration: none;
  color: lightcyan;
}

.carousel .container .item h5 {
  top: 20%;
  text-align: center;
  position: absolute;
  font-size: 0.8vw;
  font-weight: bolder;
  color: azure;
}

.carousel .container .item .skills_wrapper {
  bottom: 10%;
  text-align: center;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.carousel .container .item .skills_wrapper .shield {
  color: azure;
  opacity: 0%;
  margin: 1% 1%;
  transition: all .8s ease;
}

.carousel .container .item .thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  transition: all .6s ease;
}

.carousel .container .item:hover{
  background-color: darkslateblue;
}

.carousel .container .item:hover .thumbnail {
  opacity: 0.14;
  z-index: 0;
  width: 115%;
  height: 115%;
}

.carousel .container .item:hover .skills_wrapper .shield {
  opacity: 100%;
}