.intro {
  background-color: snow;
  display: flex;
  overflow: hidden;
}

.intro .left {
  height: 100%;
  width:50%;
  flex: 0.5;
  top: 20%;
  position: relative;
}

.intro .left .imgContainer {
  height: 87vh;
  width: 43vw;
  background-color: cadetblue;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: right;
  margin-right: 5%;
}

.intro .left .imgContainer img {
  justify-content: flex-end;
}

.intro .right {
  flex: 0.5;
}

.intro .right .wrapper {
  height: 100%;
  width: 100%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.intro .right .wrapper h1{
  font-size: 6vh;
  margin: 1% 0;
}
.intro .right .wrapper h2{
  font-size: 3.2vh;
}
.intro .right .wrapper h3{
  font-size: 3.2vh;
}

.intro .right a{
  position: absolute;
  bottom: 10px;
  left: 75%;
  text-decoration: none;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

.intro .right span {
  color: #2fc18c;
}

.intro .right .arrow{
  -webkit-animation: arrowBlink 3.4s infinite;
          animation: arrowBlink 3.4s infinite;
  opacity: 0;
}

@-webkit-keyframes arrowBlink {
  100%{
    opacity: 100%;
  }
}

@keyframes arrowBlink {
  100%{
    opacity: 100%;
  }
}